* {
  border-color: #fff !important;
}
a {
  color: #4271ae !important;
}
a:visited {
  color: #8959a8 !important;
}
body {
  background-color: #efefef !important;
  color: #3e999f !important;
}
html {
  background-color: #efefef !important;
}
input,
textarea {
  background-color: #fff !important;
  color: #3e999f !important;
}
blockquote,
pre {
  background-color: #fff !important;
  color: #3e999f !important;
}
div#page div#header {
  background-color: #efefef !important;
}
div#page div#header a {
  color: #8959a8 !important;
}
.post {
  background-color: #efefef !important;
}
.post * {
  overflow: auto !important;
}
.post h2 {
  background-color: #fff !important;
}
.post h2 a {
  color: #718c00 !important;
}
.post div.entry {
  background-color: #efefef !important;
  color: #3e999f !important;
}
.post div.entry blockquote {
  background-color: #fff !important;
}
.post div.entry kbd {
  background-color: #fff !important;
  border-color: #d6d6d6 !important;
  box-shadow: none !important;
  color: #718c00 !important;
  text-shadow: 0px 1px 0px #000 !important;
}
.post pre.mode-line {
  overflow: visible !important;
}
