* {
  border-color: #fff !important;
}
a {
  color: #4271ae !important;
}
a:visited {
  color: #8959a8 !important;
}
body {
  background-color: #efefef !important;
  color: #3e999f !important;
}
html {
  background-color: #efefef !important;
}
input,
textarea {
  background-color: #fff !important;
  color: #3e999f !important;
}
blockquote,
pre {
  background-color: #fff !important;
  color: #3e999f !important;
}
tr.Even {
  background-color: #fff !important;
}
.BigQuote {
  background-color: #fff !important;
  color: #f5871f !important;
}
.Cat1HL {
  background-color: #d6d6d6 !important;
  color: #718c00 !important;
}
.Cat2HL {
  background-color: #fff !important;
}
.Cat3HL {
  background-color: #fff !important;
}
.FeatureByline {
  background-color: #fff !important;
  border: none !important;
}
.Headline {
  background-color: #fff !important;
}
.QuotedText {
  color: #8959a8 !important;
}
DIV.GAByline {
  background-color: #fff !important;
  border: none !important;
}
table.OddEven tr:nth-child(even) {
  background-color: #efefef !important;
}
table.OddEven tr:nth-child(odd) {
  background-color: #efefef !important;
}
DIV.CommentBox {
  border-color: #fff !important;
}
DIV.CommentBox P.CommentTitle {
  background-color: #fff !important;
}
#menu,
.topnav-container {
  background-color: #fff !important;
}
.navmenu ul {
  background-color: #fff !important;
}
