* {
  border-color: #fff !important;
}
a {
  color: #4271ae !important;
}
a:visited {
  color: #8959a8 !important;
}
body {
  background-color: #efefef !important;
  color: #3e999f !important;
}
html {
  background-color: #efefef !important;
}
input,
textarea {
  background-color: #fff !important;
  color: #3e999f !important;
}
blockquote,
pre {
  background-color: #fff !important;
  color: #3e999f !important;
}
.search--adv {
  background-color: #fff !important;
}
.search__autocomplete > .acp-wrap {
  background-color: #efefef !important;
}
.search__autocomplete > .acp-wrap > .acp--highlight {
  background-color: #fff !important;
  color: #a89984 !important;
}
.search__autocomplete > .acp-wrap strong {
  color: #a89984 !important;
}
.site-wrapper > #header_wrapper {
  background-color: #efefef !important;
}
.site-wrapper > #header_wrapper > #header {
  background-color: #efefef !important;
}
.search--header {
  background-color: #fff !important;
}
.zci {
  background-color: #fff !important;
  color: #3e999f !important;
}
.tile--info {
  background-color: #efefef !important;
}
.tile--info__expand {
  background-color: #d6d6d6 !important;
}
.tile--c {
  background-color: #d6d6d6 !important;
  color: #a89984 !important;
}
.module__text {
  color: #3e999f !important;
}
.about-info-box__heading {
  color: #718c00 !important;
}
.result.highlight {
  background-color: #fff !important;
}
.result__snippet {
  color: #3e999f !important;
}
.result__snippet b {
  color: #718c00 !important;
}
.btn--top {
  background-color: #fff !important;
  color: #3e999f !important;
}
.btn--top:hover {
  background-color: #d6d6d6 !important;
}
.result--sep--hr:before {
  background-color: #d6d6d6 !important;
}
