* {
  border-color: #fff !important;
}
a {
  color: #4271ae !important;
}
a:visited {
  color: #8959a8 !important;
}
body {
  background-color: #efefef !important;
  color: #3e999f !important;
}
html {
  background-color: #efefef !important;
}
input,
textarea {
  background-color: #fff !important;
  color: #3e999f !important;
}
blockquote,
pre {
  background-color: #fff !important;
  color: #3e999f !important;
}
.sfbgg {
  background-color: #fff !important;
}
.sbib_a {
  background: linear-gradient(to bottom, #fff, #efefef) !important;
}
input#lst-ib,
#sb_ifc0.sbib_b,
#gs_taif0 {
  background: transparent !important;
}
#lst-ib,
.sbsb_a {
  background-color: #efefef !important;
}
.kpbb {
  background-image: linear-gradient(to bottom, #6c94c7, #4271ae) !important;
}
#hdtbSum {
  background-color: #efefef !important;
}
#hdtbMenus.hdtb-td-o {
  background-color: #efefef !important;
}
#hdtb-tls.hdtb-tl {
  background-image: linear-gradient(to bottom, #efefef, #fff) !important;
}
#hdtb-tls.hdtb-tl.hdtb-tl-sel {
  background-image: linear-gradient(to bottom, #fff, #efefef) !important;
}
#abar_button_opt.ab_button {
  background: linear-gradient(to bottom, #efefef, #fff) !important;
}
#appbar {
  background-color: #efefef !important;
}
cite {
  color: #718c00 !important;
}
.ab_dropdown {
  background-color: #efefef !important;
}
div.crp {
  background-color: #efefef !important;
}
#fbar {
  background-color: #fff !important;
}
