* {
  border-color: #fff !important;
}
a {
  color: #4271ae !important;
}
a:visited {
  color: #8959a8 !important;
}
body {
  background-color: #efefef !important;
  color: #3e999f !important;
}
html {
  background-color: #efefef !important;
}
input,
textarea {
  background-color: #fff !important;
  color: #3e999f !important;
}
blockquote,
pre {
  background-color: #fff !important;
  color: #3e999f !important;
}
* {
  border-color: #fff !important;
}
a {
  color: #4271ae !important;
}
a:visited {
  color: #8959a8 !important;
}
body {
  background-color: #efefef !important;
  color: #3e999f !important;
}
html {
  background-color: #efefef !important;
}
input,
textarea {
  background-color: #fff !important;
  color: #3e999f !important;
}
tr:hover,
blockquote,
pre {
  background-color: #fff !important;
  color: #3e999f !important;
}
#toolMenu li {
  background-color: #efefef !important;
}
.navPanel,
.navIntraTool {
  background-color: #efefef !important;
}
.instruction,
.sakaiCopyrightInfo {
  color: #3e999f !important;
}
.listHier th {
  background-color: #fff !important;
}
ul.makeMenu {
  background-color: #fff !important;
  border: 1px solid #fff !important;
}
tr.external {
  background-color: #fff !important;
}
