* {
  border-color: #fff !important;
}
a {
  color: #4271ae !important;
}
a:visited {
  color: #8959a8 !important;
}
body {
  background-color: #efefef !important;
  color: #3e999f !important;
}
html {
  background-color: #efefef !important;
}
input,
textarea {
  background-color: #fff !important;
  color: #3e999f !important;
}
blockquote,
pre {
  background-color: #fff !important;
  color: #3e999f !important;
}
* {
  border-color: #fff !important;
}
a {
  color: #4271ae !important;
}
a:visited {
  color: #8959a8 !important;
}
body {
  background-color: #efefef !important;
  color: #3e999f !important;
}
html {
  background-color: #efefef !important;
}
input,
textarea {
  background-color: #fff !important;
  color: #3e999f !important;
}
blockquote,
pre {
  background-color: #fff !important;
  color: #3e999f !important;
}
