// * colors.styl

// ** Darculized colors modified to became palenight

// Darculized is a hybrid theme, derived from solarized and darcula
// See https://github.com/jgkamat/darculized
base03 = #2e3440
base02 = #434C5E
base01 = #4C566A
base00 = #D8DEE9
base0 = #E5E9F0
base1 = #E5E9F0
base2 = #ECEFF4
base3 = #3B4252
yellow = #ffcb6b
orange = #E05F27
red = #f07178
magenta = #c792ea
violet = #797FD4
blue = #82aaff
cyan = #89ddff
green = #c3e88d
