// * gruvbox-colors.styl

// ** A theme based of the gruvbox color scheme

base03 = #ffffff
base02 = #efefef
base01 = #d6d6d6
base00 = #ffffff
base0 = #3e999f
base1 = #718c00
base2 = #a89984
base3 = #ebdbb2
yellow = #eab700
orange = #f5871f
red = #c82829
magenta = #8959a6
violet = #8959a8
blue = #4271ae
cyan = #4271ad
green = #718c00
