* {
  border-color: #ddd !important;
}
a {
  color: #89ddff !important;
}
a:visited {
  color: #f07178 !important;
}
body {
  background-color: #292d3e !important;
  color: #ddd !important;
}
html {
  background-color: #292d3e !important;
}
input,
textarea {
  background-color: #292d3d !important;
  color: #ddd !important;
}
blockquote,
pre {
  background-color: #292d3d !important;
  color: #ddd !important;
}
.post-actions {
  background-color: #292d3d !important;
}
.textarea-wrapper {
  background-color: #292d3e !important;
  color: #ddd !important;
}
