* {
  border-color: #d8dee9 !important;
}
a {
  color: #89ddff !important;
}
a:visited {
  color: #f07178 !important;
}
body {
  background-color: #3b4252 !important;
  color: #e5e9f0 !important;
}
html {
  background-color: #3b4252 !important;
}
input,
textarea {
  background-color: #434c5e !important;
  color: #e5e9f0 !important;
}
blockquote,
pre {
  background-color: #434c5e !important;
  color: #e5e9f0 !important;
}
div#page div#header {
  background-color: #3b4252 !important;
}
div#page div#header a {
  color: #797fd4 !important;
}
.post {
  background-color: #3b4252 !important;
}
.post * {
  overflow: auto !important;
}
.post h2 {
  background-color: #434c5e !important;
}
.post h2 a {
  color: #e5e9f0 !important;
}
.post div.entry {
  background-color: #3b4252 !important;
  color: #e5e9f0 !important;
}
.post div.entry blockquote {
  background-color: #434c5e !important;
}
.post div.entry kbd {
  background-color: #434c5e !important;
  border-color: #4c566a !important;
  box-shadow: none !important;
  color: #e5e9f0 !important;
  text-shadow: 0px 1px 0px #000 !important;
}
.post pre.mode-line {
  overflow: visible !important;
}
